This experiment notebook is the base for the lake_to_dwh.py file. It will read/load the newspaper htmls, transform them and prepare the features, which are needed for an easy analyse. The analyse will be about the word "klima" and its changing use over time by newspaper. See Readme for more.

In [1]:
import os
import sys
sys.path.append(os.path.abspath("pylib"))

import pandas as pd
from handle_sqlite import save_dataframe_to_db, read_table_as_dataframe
from handle_data_processing import process_newspaper_with_context

# Load all the newspapers
Here we will load the csv for one day.

test: saving df as sqlite and read it

In [7]:
test = {'Name': ['Tom', 'nick', 'chris', 'jack'],
        'Age': [20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(test)
# df (pd.DataFrame): The DataFrame to save.
# table_name (str): The name of the table in the database.
# connection (sqlite3.Connection): SQLite connection object.
# if_exists (str): How to behave if the table already exists. Options are 'fail', 'replace', 'append'.
save_dataframe_to_db(df, "test_table", "data_output/dwh_data.db", "replace")

2025-02-21 19:54:07,887 - INFO - Data saved to table 'test_table' in 'data_output/dwh_data.db' successfully.

In [8]:
read_table_as_dataframe("test_table", "data_output/dwh_data.db")

2025-02-21 19:54:08,323 - INFO - Data read from table 'test_table' in 'data_output/dwh_data.db' successfully.

    Name  Age
0    Tom   20
1   nick   21
2  chris   19
3   jack   18

 orchestrate the processing

In [20]:
newspapers = [
    {"file_name": "data_input/data_lake/2021-04-02-54books.html", "encoding": "utf-8", "name": "Newspaper 1", "date": "2021-04-02"},
    {"file_name": "data_input/data_lake/2021-04-02-abendblatt.html", "encoding": "utf-8", "name": "Newspaper 2", "date": "2021-04-02"},
    {"file_name": "data_input/data_lake/2025-01-14-vice-de.html", "encoding": "utf-8", "name": "Newspaper 3", "date": "2025-01-24"},
]

collection = []

for newspaper in newspapers:
    try:
        result_df = process_newspaper_with_context(newspaper)
        collection.append(result_df)
    except Exception as e:
        print(f"Error processing {newspaper['name']}: {e}")

# Combine all results into one dataframe
final_df = pd.concat(collection, axis=0)
final_df.to_csv('processed_newspapers.csv', index=False)

for every collected path open and process the newspaper and append result to list

take list and append to sqlite.

In [18]:
final_df

,pre_context,post_context,prefix,suffix,newspaper,date_published
0,Was geht vor:,oder Mieterinteresse? Hamburg,,schutz,Newspaper 2,2021-04-02

In [12]:
final_df['pre_context']

0    Was geht vor:
Name: pre_context, dtype: object

In [13]:
final_df['post_context']

0    oder Mieterinteresse? Hamburg
Name: post_context, dtype: object